.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.Login{
    font-size: 1.5rem;
}

.login-link{
    color: rgb(0, 0, 0);
    margin-top: 1em;
}

.rocket{
    display: flex;
}

.buttons-login{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link-width{
    text-align: center;
    padding: 0 1rem;
    background-color: #222020;
    border-radius: 5px;
}

.link-width:hover{
    background-color: #474747;
}

.login-c{
    color: #928e8e;
}

@media (max-width: 820px){
    .Login{
        margin-right: 44%;
    }
    .login-c{
        margin-left: 25em;
        margin-top: 0px;
        display: flex;
        font-size: 15px;
    }
    .login-link{
        font-family: Yekan;
        color: darkgrey;
        margin-left: 1em;
        margin-top: 1px;
    
    }
    .loginb{
        margin-left: 18em ;
    }

}