.End-p {
    font-size: 2rem;
    font-weight: 600;
    order: -1;
    margin: 0px 70px 0px 0px ;
}

.Button-End-p{
    font-size: 2rem;
    font-weight: 600;
    order: -1;
    margin: 0px 90px 0px 0px;
}

.Chat{
    margin: 0 15em 0 0;
}


.img-up-1 {
    margin: -998px 650px 0px 0px;
}

.title-1 {
    text-align: center;
}

.p-1 {
    margin: 4em 0;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.Allcard {
    display: flex;
    justify-content: center;
    gap: 7rem;
    align-items: center;
}

.box {
    height: 254px;
    width: 254px;
}

.box-2{
    height: 254px;
    width: 254px;
    background-color: #000000;
    border-radius: 15px;
}
.box .rectangle {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 5px #9c949440;
    height: 254px;
    width: 300px;
}
.All-mony {
    display: flex;
}

.box-up {
    height: 64px;
    width: 254px;
}

.box-up .text-wrapper-up {
    background-color: #ededed;
    border-radius: 15px 15px 0px 0px;
    height: 64px;
    width: 300px;
    align-items: center;
}

.text-wrapper-up {
    color: #000000;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.box-up-blue .text-wrapper-up-blue {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #165aaa;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    height: 64px;
    width: 300px;
}

.mony {
    color: #1e1e1e;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    margin: 50px 0px 0px 10px;
}
.mony-1 {
    color: #1e1e1e;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    margin: 50px 0px 0px 53px;
}
.mony-2 {
    color: #1e1e1e;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    margin: 50px 0px 0px 50px;
}

span {
    font-size: 20px;
}

.btn-1 {
    background-color: #165aaa;
    color: white;
    font-family: Yekan;
    height: 50px;
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 60px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
.btn-2 {
    background-color: #165aaa;
    color: white;
    font-family: Yekan;
    height: 50px;
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 75px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
.btn-3 {
    background-color: #165aaa;
    color: white;
    font-family: Yekan;
    height: 50px;
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 70px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

.btn-1:hover{
    background-color: #2a64a5;
    cursor: pointer;
}
.btn-2:hover{
    background-color: #2a64a5;
    cursor: pointer;
}
.btn-3:hover{
    background-color: #2a64a5;
    cursor: pointer;
}

.title-2 {
    color: #000;
    font-size: 40px;
    text-align: center;
    margin: -70px 0px 40px 40px;
    font-family: Yekan;
}

.All-button-com{
    margin-top: 5rem;
}

.starship{
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
}

.starship img{
    margin-left: 5rem;
}

.End {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 0 10%;
    margin-top: 5rem;
    gap: 2rem;
}

.Star-tit{
    margin-left: 5%;
}

.All-box-img {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.box-img {
    height: 200px;
    width: 300px; 
}

.box-img .rectangle-img {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 4px #00000040;
    height: 355px;
    width: 300px;
}

.img-1 {
    height: 191px;
    width: 258px; 
    margin: 0px 15px 0px 0px;
}

.img-2 {
    height: 206px;
    width: 206px;
    display: block;
    margin: auto;
}

.img-3 {
    height: 272px;
    width: 272px;
    display: flex;
    height: 200px;
    margin: 0px 0px 9px 15px;
    /* ارتفاع مورد نظر شما */
}

.studant {
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.p-img {
    margin: 0 20px;
    text-align: center;
    color: #666666;
    font-size: 15px;
}

.Free {
    text-align: center;
    margin-top: 13rem;
    font-size: 40px;
}

.Free-vip-card {
    display: flex;
    justify-content: center;
    gap: 7rem;
    margin-right: 0rem;
}

.box-Free-vip .rectangle-Free-vip {
    background-color: #ffffff;
    border: 1px solid #c9bfbf;
    border-radius: 5px;
    padding: 5%;
    height: 501px;
    width: 408px;
}

.Free-tit {
    font-size: 24px;
    margin: -100px 20px 0px 0px;
}

.Free-p {
    font-size: 15px;
    color: #666666;
    margin: -5px 20px 60px 0px;
}

.img-free {
    height: 120px;
    width: 120px;
    display: flex;
}

.no {
    height: 40px;
    width: 40px;
    display: flex;
    margin: 40px 30px 0px 10px;
}

.no-1{
    height: 45px;
    width: 40px;
    display: flex;
    margin: 50px 30px 0px 10px;
}

.yes {
    height: 35px;
    width: 35px;
    display: flex;
    margin: 45px 30px 0px 10px;
}

.All-courses {
    margin: -40px 15px 0px 0px;
    font-size: 17px;
}

.Drop-title {
    text-align: center;
    font-size: 40px;
    margin-top: 13rem;
}

.box-8 .rectangle-8 {
    background-color: #ffffff;
    border: 1px solid #ffffff80;
    height: 600px;
    width: 500px;
    align-items: center;
    margin-bottom: 5rem;
}

.flexing{
    margin-top: 2rem;
    display: flex;
    justify-content: right;
    gap: 2rem;
}

.Math-1 {
    font-size: 1.7rem;
    margin: 20px 25px 0px 0px;
}

.Line-1 {
    color: #ffffff;
    size: 1;
    width: 90%;
    align-items: center;
}

.Logic {
    margin: 20px 25px 0px 0cqb;
}

.Logic-p {
    margin: -30px 50px 0px 0px;
}

.tit-1-com {
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
}

.p-1-com {
    color: #535353;
    text-align: center;
    font-size: 20px;
}

.Photo-12 {
    width: 180px;
    height: 150px;
    margin: 0px 980px -45px 0px;
}

.Photo-13 {
    width: 180px;
    height: 120px;
    margin: -200px 150px -19px 0px;
}

.Line-com1 {
    border-top: 1px solid #918f8f;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.tit-star-1 {
    display: flex;
    font-size: 50px;
    font-weight: 500;
    margin: 0px 0px 0px 75px;
}

.p-star-1 {
    height: 132px;
    width: 300px;
    display: flex;
    font-size: 25px;
    color: #535353;
    margin: 0px 0px 0px 80px;
}

.Star1 {
    height: 300px;
    margin: -300px 80px 0px 0px;
    width: 600px;
}

.All {
    height: 48px;
    width: 300px;
    display: flex;
    background-color: white;
    border: 2px solid;
    border-color: #535353;
    border-radius: 10px;
    text-align: right;
    color: #000000;
    font-size: 25px;
    font-family: Yekan;
    direction: rtl;
    margin: 0px 0px 0px 100px;
    padding: 5px;
}

.All-1 {
    display: flex;
    direction: rtl;
    height: 48px;
    width: 120px;
    background-color: white;
    border: 2px solid;
    border-color: #535353;
    border-radius: 10px;
    margin: -55px 0px 6px 750px;
    padding: 5px 25px 0px 0px;
    font-size: 25px;
    font-family: Yekan;
    text-align: center;
}

.All-1:hover {
    cursor: pointer;
    border-color: #165AAA;
    color: #535353;
}



.All-2 {
    display: flex;
    height: 48px;
    width: 250px;
    direction: rtl;
    background-color: white;
    border: 2px solid;
    border-color: #535353;
    border-radius: 10px;
    margin: -55px 0px 0px 910px;
    font-size: 25px;
    font-family: Yekan;
    padding: 4px 65px 0px 0px;
}

.All-2:hover {
    cursor: pointer;
    border-color: #165AAA;
    color: #535353;
}

.All-3 {
    display: flex;
    height: 55px;
    width: 250px;
    direction: rtl;
    background-color: white;
    border: 2px solid;
    border-color: #535353;
    border-radius: 10px;
    margin: 20px 0px 0px 750px;
    font-size: 25px;
    font-family: Yekan;
    padding: 8px 70px 0px 0px;
}

.All-3:hover {
    cursor: pointer;
    border-color: #165AAA;
    color: #535353;
}

.All-4 {
    display: flex;
    direction: rtl;
    height: 55px;
    width: 130px;
    background-color: white;
    border: 2px solid;
    border-color: #535353;
    border-radius: 10px;
    margin: -55px 0px 0px 1030px;
    padding: 5px 30px 0px 0px;
    font-size: 25px;
    font-family: Yekan;
    text-align: center;
}

.All-4:hover {
    cursor: pointer;
    border-color: #165AAA;
    color: #535353;
}

.All-5 {
    display: flex;
    direction: rtl;
    height: 55px;
    width: 410px;
    background-color: white;
    border: 2px solid;
    border-color: #535353;
    border-radius: 10px;
    margin: 20px 0px 0px 750px;
    padding: 5px 90px 0px 0px;
    font-size: 25px;
    font-family: Yekan;
    text-align: center;
}

.All-5:hover {
    cursor: pointer;
    border-color: #165AAA;
    color: #535353;
}

.img-up {
    display: flex;
    margin: -1000px 0px -10px 200px;
}

.Line-img {
    border-top: 1px solid #535353;
    margin: 60px 0px 0px 670px;
    width: 80%;
} 

.Star2 {
    display: flex;
    height: 30px;
    width: 100px;
    margin: 30px 0px 0px 1180px;
}

.Chat {
    display: block;
    font-size: 28px;
    margin: 15px 0px 0px 0px;
    direction: rtl;
}

.p-Chat {
    height: 100px;
    width: 500px;
    display: flex;
    color: #535353;
}

.imgup-comment{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.Star3 {
    display: flex;
    margin-top: 1rem;
    height: 25px;
    width: 95px;
}

.Line-down {
    display: flex;
    border-top: 1px solid #535353;
    width: 80%;
    margin-top: 10rem;
}

.Up-title {
    padding-top: 6rem;
}

.paragraph{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.label-2 {
    margin-top: 12rem;
}

.Logic {
    margin: 5px 30px 0px 0px;
}

.Logic-p {
    margin: -30px 55px 15px 0px;
}

.pricing-page{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F8;
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.Chat-p-p{
    margin: 2px 0px 0px 0px;
}

@media (max-width: 820px) {
    .link {
        font-size: 20px;
    }

    .Allcard {
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .All-box-img {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box {
        margin: 55px 0px 0px -5px;
    }

    .label-2 {
        display: flex;
        flex-wrap: wrap;
    }

    .title-2 {
        margin: 800px 0px 0px 40px;
        align-items: center;
    }

    .box-img {
        margin: 50px 0px 0px 40px;
        align-items: center;
        justify-content: center;
    }
    .Free {
        display: flex;
        flex-wrap: wrap;
        font-size: 40px;
        text-align: center;
        justify-content: center;
    }

    .Free-vip-card {
        padding: 0 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-Free-vip {
        display: flex;
        flex-wrap: wrap;
        height: 561px;
        width: 390px;
        margin: 50px 0px 0px -32px ;
        padding: 20;
    }

    .box-8 {
        height: 561px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 5px 0px -427px;
    }
}