.black-box{
    background-color: #101010;
    padding: 1rem 10%;
    color: aliceblue;
    text-align: center;
}

.black-box h2{
    padding-top: 4rem;
}

.our-pri{
    padding: 2rem 10%;
}

.flex{
    display: flex;
    justify-content: right;
    align-items: center;
}