.email{
    margin-top: 1rem;
    background-color: white;
    font-size: 1rem;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid grey;
}

.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name{
    margin-top: 1em ;
    background-color :white;
    height: 50px;
    width: 160px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
}
.name1{
    margin-top: 1em ;
    background-color :white;
    height: 50px;
    width: 160px;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid grey;
} 

.name-con{
    display: flex;
    gap: 1rem;
}

.button-up{
    margin-top: 2rem;
}

.main {
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    margin-top: 4rem;
}

#reaction{
    color: red;
}

.email:focus{
    border: 1px solid black;
}

.name:focus{
    border: 1px solid black;
}
.name1:focus{
    border: 1px solid black;
}

@media (max-width: 820px){
    .email{
        width: 300px;
        font-size: 25px;
        margin-left: 40%;
    }
    .other{
        width: 300px;
        font-size: 25px;
        margin-left: 40%;
    }
    .name{
        width: 300px;
        font-size: 25px;
        margin-right: 22%;

    }
    .name1{
        width: 300px;
        font-size: 25px;
        margin-right: 22%;

    }
    .login-b{
        margin-left: 48%;
    }
    .login{
        margin-left: 52em;
        display: flex;
        font-size: 15px;
    }
    .loginn{
        margin-right: 38%;
        font-family: Yekan;
        font-size: 25px;
    }
}