.email{
    margin-top: .5rem;
    height: 50px;
    width: 350px;
    border-radius: 8px;
    border: 1px solid grey;
}

.email:focus {
    transform: scale(1);
    border: 2px solid #165AAA;
}


.signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name1{
    margin-top: .5rem;
    height: 50px;
    width: 160px;
    border-radius: 8px;
    border: 1px solid grey;
} 
.name1:focus {
    transform: scale(1);
    border: 2px solid #165AAA;
}

.name-con{
    display: flex;
    gap: 1rem;
}

.main {
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    margin-top: 4rem;
}

#reaction{
    color: red;
    width: 80%;
    text-align: center;
}

.email:focus{
    border: 1px solid black;
}

.name1:focus{
    border: 1px solid black;
}

@media (max-width: 820px){
    .lunch{
        display: none;
    }

    .main{
        justify-content: center;
    }
}