@font-face {
    font-family: 'Yekan';
    font-weight: 100;
    src: url(Yekan-Bakh-Light.ttf);
}

@font-face {
    font-family: 'Yekan';
    font-weight: 300;
    src: url(Yekan-Bakh-Regular.ttf);
}

@font-face {
    font-family: 'Yekan';
    font-weight: 400;
    src: url(Yekan-Bakh-Medium.ttf);
}

@font-face {
    font-family: 'Yekan';
    font-weight: 500;
    src: url(Yekan-Bakh-Bold.ttf);
}

@font-face {
    font-family: 'Yekan';
    font-weight: 700;
    src: url(Yekan-Bakh-Heavy.ttf);
}

@font-face {
    font-family: 'Yekan';
    font-weight: 900;
    src: url(Yekan-Bakh-Fat.ttf);
}

body {
    margin: 0;
    font-family: 'Yekan';
    text-align: right;
}

.primary {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Yekan';
    border-radius: 7px;
    background-color: #3646D3;
    padding: 10px 45px;
    border: none;
    color: white;
}

.secondary {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Yekan';
    color: white;
    border: none;
    border-radius: 7px;
    background-color: #474747;
    padding: 10px 45px;
}

.solid {
    margin: 5px 10px;
    padding: 1px 20px;
    font-family: yekan;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(128, 128, 128);
    background-color: white;
    border: solid 3px rgb(128, 128, 128);
    border-radius: 40px;
}

.solid:focus {
    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
}

.solid:hover {
    cursor: pointer;
}

.primary:hover {
    cursor: pointer;
}

.secondary:hover {
    cursor: pointer;
}

.Logo-title {
    align-items: center;
    display: flex;
}

.Logo-title img {
    margin-right: 20px;
    width: 45px;
    height: 45px;
}

.Logo-title h2 {
    padding-top: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 4px;
    width: 80%;
    position: fixed;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 10%;
    z-index: 1;
}

.txt-decor {
    text-decoration: none;
}

.color-black {
    color: black;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.button-container Button {
    height: 2.5rem;
}

.footer {
    margin-top: 3em;
    background-color: #18191B;
    width: 100%;
    height: 20rem;
    color: #DADADA;
}

.footer h2 {
    font-size: 40px;
}

.row1 {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10%;
}

.row1 p {
    font-size: 2rem;
}

.row2 {
    display: flex;
    padding: 1rem 10%;
    text-align: right;
    gap: 10rem;
    justify-content: right;
}

.column1 {
    display: flex;
    flex-direction: column;
}

.intro {
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
    padding: 10rem 0;
    align-items: center;
}

.b {
    border-bottom: solid rgba(0, 0, 0, 0.5);
}

.intro p {
    direction: rtl;
    margin: 0;
    color: #525252;
    font-size: 1.1rem;
}

.width {
    width: 35%;
}

.index img {
    order: 1;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.card {
    background-color: #D9D9D9;
    width: 12em;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
}

.icon {
    font-size: 5rem;
}

.link {
    text-decoration: none;
    color: #DADADA;
    position: relative;
    top: 1rem;
}

.main-page img {
    width: 40%;
}

.OurTeam {
    margin: 30px 10%;
    justify-content: center;
    text-align: center;
}

.TeamCards {
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-auto-rows: 250px;
}

.TeamCard {
    margin: 0 3rem;
}

#LastTeam.TeamCard {
    grid-column: 2 / 4;
    grid-row: 3;
}

.TeamCard h2 {
    margin-bottom: 5px;
}

.TeamCard h3 {
    margin-top: 0;
    font-weight: 500;
    color: rgb(44, 44, 44);
}

.press {
    margin: 7em 10%;
}

.press h1 {
    margin-bottom: 2em;
    margin-right: 3em;
}

.press p {
    font-size: 22px;
    padding: 4.5em 0;
    margin: 0 5em;
    border-radius: 10px;
    border: solid rgba(0, 0, 0, 0.5);
    direction: rtl;
    text-align: center;
}

.press span {
    color: #2A61B4;
}


.title-1 {
  text-align: center;
  background-color: #f8f8f8;
}
.p-1 {
  text-align: center;
  font-size: 18px;
}

.Allcard {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.box {
  height: 254px;
  width: 254px;
}

.box .rectangle {
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: 0px 0px 35px 10px #00000040;
  height: 254px;
  width: 254px;
}

.All-mony {
  display: flex;
}

.text-wrapper {
  text-align: center;
  align-items: center;
}

.box-up {
  height: 64px;
  width: 254px;
}

.box-up .text-wrapper-up {
  background-color: #ededed;
  border-radius: 25px 25px 0px 0px;
  height: 64px;
  width: 254px;
}
.text-wrapper-up {
  color: #000000;
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 36px;
}

.box-up-blue .text-wrapper-up-blue {
  background-color: #165aaa;
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  font-size: 36px;
  color: #fff;
  height: 64px;
  width: 254px;
}

.mony {
  color: #1e1e1e;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  text-align: center;
  margin: 50px 0px 0px 0px;
}
span {
  font-size: 20px;
}
.btn-1 {
  background-color: #165aaa;
  color: white;
  font-family: Yekan;
  height: 54px;
  width: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0px 0px 30px;
  border-radius: 10px;
  border: none;
  font-size: 32px;
}

.title-2 {
  color: #000;
  font-size: 40px;
  text-align: center;
  font-size: 40px;
}

.All-box-img {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.box-img {
  height: 349px;
  width: 261px;
}

.box-img .rectangle-img {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 35px -2px #00000040;
  height: 349px;
  width: 261px;
}

.img-1 {
  height: 191px;
  width: 258px;
}

.img-2 {
  height: 206px;
  width: 206px;
  display: block;
  margin: auto;
}

.img-3 {
  height: 272px;
  width: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* ارتفاع مورد نظر شما */
}

.studant {
  margin: 0px 15px 0px 0px;
}

.p-img {
  color: #666666;
  margin: 0px 15px 20px 0px;
  font-size: 15px;
}

.Free {
  text-align: center;
  font-size: 40px;
}

.box-Free-vip {
  height: 561px;
  width: 408px;
}

.Free-vip-card {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.box-Free-vip .rectangle-Free-vip {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #00000080;
  height: 561px;
  width: 408px;
}

.Free-tit {
  font-size: 24px;
  margin: -100px 20px 0px 0px;
}

.Free-p {
  font-size: 15px;
  color: #666666;
  margin: -5px 20px 0px 0px;
}

.img-free {
  height: 141px;
  width: 141px;
  display: flex;
}

.no {
  height: 56px;
  width: 40px;
  display: flex;
  margin: 30px 30px 0px 10px;
}

.All-courses {
  margin: -40px 15px 0px 0px;
  font-size: 17px;
}

.Drop-title {
  text-align: center;
  font-size: 40px;
}

.box-8 {
  height: 561px;
  width: 408px;
  padding: 0px 0px 0px 430px;
}

.box-8 .rectangle-8 {
  background-color: #f5f5f5;
  border: 1px solid;
  border-color: #ffffff80;
  height: 561px;
  width: 500px;
  align-items: center;
}

.Math-1 {
  font-size: 36px;
  margin: 20px 25px 0px 0px;
}

.Line-1 {
  color: #18191b;
  size: 2;
  width: 90%;
  align-items: center;
}

.Logic {
  margin: 20px 25px 0px 0cqb;
}

.Logic-p {
  margin: -30px 50px 0px 0px;
}

.tit-1-com {
  font-size: 40px;
  text-align: center;
  margin-top: 0px;
}

.p-1-com {
  color: #535353;
  text-align: center;
  font-size: 20px;
}

.Line-com1 {
  color: #000000;
  size: 7;
  width: 90%;
  align-items: center;
}

.tit-star-1 {
  display: flex;
  font-size: 60px;
  margin: 20px 0px 0px 75px;
}

.p-star-1 {
  height: 132px;
  width: 300px;
  display: flex;
  font-size: 30px;
  color: #535353;
  margin: 0px 0px 0px 80px;
}

.Star1 {
  height: 300px;
  margin: -300px 80px 0px 0px;
  width: 600px;
}

.All {
  height: 55px;
  width: 300px;
  display: flex;
  background-color: white;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  text-align: right;
  color: #000000;
  font-size: 30px;
  font-family: Yekan;
  direction: rtl;
  margin: 0px 0px 0px 100px;
  padding: 5px;
}

.All-1 {
  display: flex;
  direction: rtl;
  height: 55px;
  width: 130px;
  background-color: white;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  margin: -55px 0px 0px 770px;
  padding: 5px 40px 0px 0px;
  font-size: 30px;
  font-family: Yekan;
  text-align: center;
}

.All-1:hover {
  cursor: pointer;
  border-color: #165AAA;
}

.All-2 {
  display: flex;
  height: 55px;
  width: 250px;
  direction: rtl;
  background-color: white;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  margin: -55px 0px 0px 930px;
  font-size: 30px;
  font-family: Yekan;
  padding: 5px 60px 0px 0px;
}

.All-2:hover {
  cursor: pointer;
  border-color: #165AAA;
}

.All-3 {
  display: flex;
  height: 55px;
  width: 250px;
  direction: rtl;
  background-color: white;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  margin: 20px 0px 0px 770px;
  font-size: 30px;
  font-family: Yekan;
  padding: 5px 60px 0px 0px;
}

.All-3:hover {
  cursor: pointer;
  border-color: #165AAA;
}

.All-4 {
  display: flex;
  direction: rtl;
  height: 55px;
  width: 130px;
  background-color: white;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  margin: -55px 0px 0px 1050px;
  padding: 5px 30px 0px 0px;
  font-size: 30px;
  font-family: Yekan;
  text-align: center;
}

.All-4:hover {
  cursor: pointer;
  border-color: #165AAA;
}

.All-5 {
  display: flex;
  direction: rtl;
  height: 55px;
  width: 410px;
  background-color: white;
  border: 2px solid;
  border-color: #000000;
  border-radius: 10px;
  margin: 20px 0px 0px 770px;
  padding: 5px 60px 0px 0px;
  font-size: 30px;
  font-family: Yekan;
  text-align: center;
}

.All-5:hover {
  cursor: pointer;
  border-color: #165AAA;
  
}

.img-up {
  display: flex;
  margin: -1050px 0px 0px 0px;
}

.Line-img {
  border-top: 1px solid #535353; 
  margin: 60px 0px 0px 670px;
  width: 45%;
}

.Star2 {
  display: flex;
  height: 30px;
  width: 100px;
  margin: 30px 0px 0px 1180px;
}

.Chat {
  display: flex;
  font-size: 28px;
  margin: 5px 73px 0px 0px;
  direction: rtl;
}

.p-Chat {
  height: 100px;
  width: 500px;
  display: flex;
  margin: 0px 0px 0px 775px;
  color: #535353;
}



.Star3 {
  display: flex;
  height: 30px;
  width: 100px;
  margin: 30px 0px 0px 1180px;
}

.Line-down {
  display: flex;
  border-top: 2px solid #535353;
  width: 90%;
}

.Button-End {
  height: 79px;
  width: 230px;
  background-color: #165AAA;
  color: white;
  font-family: Yekan;
  font-size: 40px;
  margin: 50px 100px 0px 0px;
  border: none;
  border-radius: 20px;
}

.End-p {
  height: 168px;
  width: 700px;
  display: flex;
  font-size: 60px;
  margin: -125px 0px 0px 80px;
}


.header2{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;
    padding: .5rem 10%;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.icon2{font-size: 2rem;}

.icon-container{
    display: flex;
    align-items: center;
    gap: .2rem;
}

.icon-container p{margin-top: 1.5rem;}

.search-bar{

    padding: 0 .3rem;
    border-radius: .3rem;
}

.icon3{margin-top: .2rem;}

.welcome{margin: 3rem 10%;}

.first-part{
    margin: 1rem 10%;
    display: flex;
    justify-content: space-between;
}

.premium-con{
    background-color: #FBEDD2;
    width: 25%;
    padding: 2rem 2rem;
    border-radius: .5rem;
}

.user-props{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.prog-bar{
    border: .8rem solid #D9D9D9;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}

.prog-bar h2{margin-right: 2rem;}

.to-con{
    display: flex;
    margin: 4rem 10%;
    justify-content: space-between;
}

.container1-hp{width: 45%;}

.border-area1{padding: 3rem 10%;}
.border-area2{padding: 1.8rem 10%;}

.border-area{
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.search-bar {
    margin: 2em 0.5em;
}

.search-bar form {
    border-radius: 40px;
    border: solid 2px;
    direction: rtl;
    align-items: center;
    display: flex;
}

.search-icon {
    margin-right: 15px;
    font-size: 30px;
}


input {
    background-color: #3646d300;
    margin: 5px 0;
    padding: 5px 0;
    padding-right: 10px;
    width: 90%;
    direction: rtl;
    border: none;
    font-size: 20px;
    font-family: Yekan;
    font-weight: 500;
}

input:focus {
    outline: 0;
}

.search-section {
    padding: 10em 20%;
}

.Topics-btn {
    direction: rtl;
}

h1 {
    margin: 0;
    font-weight: 700;
}

.Up-title{
    padding-top: 6rem;
}

.label-2{margin-top: 5rem;}

.Topic {
    margin: 0 20em;
}

.courses {
    direction: rtl;
    display: flex;
}

.course img {
    width: 128px;
    height: 123px;
    margin: 20px;
    padding: 40px 40px;
    border: solid rgb(146, 146, 146);
    border-radius: 15px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.course {
    direction: rtl;
    text-align: center;
    margin: 0;
    margin-bottom: 80px;
}

.course img:hover {
    cursor: pointer;
    border: solid rgba(0, 0, 0, 0.678);
}

.Topic {
    margin-right: 20%;
}

.Topic h1 {
    margin-bottom: 50px;
    font-weight: 900;
}

.Topic h2 {
    margin-right: 30px;
    font-size: 30px;
}

.course h2 {
    font-size: 22px;
    padding: 4px 15px;
    border-radius: 40px;
    color: white;
    background-color: #179E7E;
    margin: 0;
    margin-right: 40px;
    position: absolute;
}

.course h3 {
    margin: 0;
}

.title-1 {
  text-align: center;
  background-color: #F8F8F8;
}

.title-1 {
    text-align: center;
    background-color: #F8F8F8;
}

.p-1 {
    text-align: center;
    font-size: 18px;
}

.Allcard {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;

}

.box {
    height: 254px;
    width: 254px;
}

.box .rectangle {
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0px 0px 35px 10px #00000040;
    height: 254px;
    width: 254px;
}

.All-mony {
    display: flex;
}

.text-wrapper {
    text-align: center;
    align-items: center;
}

.box-up {
    height: 64px;
    width: 254px;
}

.box-up .text-wrapper-up {
    background-color: #ededed;
    border-radius: 25px 25px 0px 0px;
    height: 64px;
    width: 254px;
}

.text-wrapper-up {
    color: #000000;
    text-align: center;
    margin: 0px 0px 0px 0px;
    font-size: 36px;
}

.box-up-blue .text-wrapper-up-blue {
    background-color: #165aaa;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    font-size: 36px;
    color: #fff;
    height: 64px;
    width: 254px;
}

.mony {
    color: #1e1e1e;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
    margin: 50px 0px 0px 0px;
}

span {
    font-size: 20px;
}

.btn-1 {
    background-color: #165aaa;
    color: white;
    font-family: Yekan;
    height: 54px;
    width: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 30px;
    border-radius: 10px;
    border: none;
    font-size: 32px;
}

.title-2 {
    color: #000;
    font-size: 40px;
    text-align: center;
    font-size: 40px;
}

.All-box-img {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.box-img {
    height: 349px;
    width: 261px;
}

.box-img .rectangle-img {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0px 0px 35px -2px #00000040;
    height: 349px;
    width: 261px;
}

.img-1 {
    height: 191px;
    width: 258px;
}

.img-2 {
    height: 206px;
    width: 206px;
    display: block;
    margin: auto;
}

.img-3 {
    height: 272px;
    width: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* ارتفاع مورد نظر شما */
}

.studant {
    margin: 0px 15px 0px 0px;
}

.p-img {
    color: #666666;
    margin: 0px 15px 20px 0px;
    font-size: 15px;
}

.Free {
    text-align: center;
    font-size: 40px;
}

.box-Free-vip {
    height: 561px;
    width: 408px;
}

.Free-vip-card {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
}

.box-Free-vip .rectangle-Free-vip {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #00000080;
    height: 561px;
    width: 408px;
}

.Free-tit {
    font-size: 24px;
    margin: -100px 20px 0px 0px;
}

.Free-p {
    font-size: 15px;
    color: #666666;
    margin: -5px 20px 0px 0px;
}

.img-free {
    height: 141px;
    width: 141px;
    display: flex;
}

.no {
    height: 56px;
    width: 40px;
    display: flex;
    margin: 30px 30px 0px 10px;
}

.All-courses {
    margin: -40px 15px 0px 0px;
    font-size: 17px;
}

.Drop-title {
    text-align: center;
    font-size: 40px;
}

.box-8 {
    height: 561px;
    width: 408px;
    padding: 0px 0px 0px 430px;
}

.box-8 .rectangle-8 {
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #ffffff80;
    height: 561px;
    width: 500px;
    align-items: center;
}

.Math-1 {
    font-size: 36px;
    margin: 20px 25px 0px 0px;
}

.Line-1 {
    color: #18191B;
    size: 2;
    width: 90%;
    align-items: center;
}

.Logic {
    margin: 5px 30px 0px 0px;
}

.Logic-p {
    margin: -30px 55px 15px 0px;
}

.Geometry {
    display: flex;
    margin: -465px 0px 0px 200px;
}

.Geometry-p {
    display: flex;
    margin: -18px 0px 0px 160px;
}



@media (max-width: 820px) {

    .intro {
        gap: 20px;
        padding: 7em 0;
        margin: 0 2em;
    }

    .OurTeam {
        margin: 2em 0;
        padding: 0;
    }

    .TeamCards {
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(4, 25%);
    }

    .TeamCard {
        margin: 0;
    }

    .press {
        margin: 0;
    }

    .press p {
        padding: 4em 3em;
    }

    .footer {
        width: 100%;
        height: 15rem;
    }

    .row1 p {
        font-size: 1rem;
    }

    .footer-txt{display: none;}

    .row1 {
        gap: 1rem;
    }

    .row2 {
        gap: 3em;
        margin-left: 10%;
    }

    .logo {
        font-size: 0.1rem;
    }

    .primary {
        padding: 6px 25px;
    }

    .secondary {
        padding: 6px 25px;
    }

    .header {
        width: 80%;
    }

    .cards {
        gap: 0.8rem;
    }

    .icon {
        width: 2.5rem;
    }

    .card {
        height: 7rem;
    }

    .card p{font-size: smaller;}

    .intro{flex-direction: column;}

    .index img {order: -1;}

    .width {width: 92%;}

    .intro img{width: 90%;}
    .card p {
        font-size: smaller;
    }

    .search-section {
        padding: 0 2em;
        padding-top: 8em;
    }

    .Topic {
        margin: 0;
        padding: 2em;
        padding-right: 2em;
    }

    .footer {
        padding-bottom: 7em;
    }

    .footer p {
        margin-left: 20px;
        font-size: 30px;
    }

    .link {
        font-size: 20px;
    }
}

@media (max-width: 414px) {

    .intro {
        align-items: center;
        justify-content: center;
        text-align: center;
        display: block;
    }

    .intro img {
        width: 100%;
        height: auto;
    }

    .OurTeam {
        margin: 2em 0;
        padding: 0;
    }

    .TeamCards {
        display: grid;
        margin: 0;
        padding: 0;
        grid-template-columns: 200px 200px;
        grid-template-rows: 300px 300px;
    }

    #LastTeam.TeamCard {
        grid-column: 1 / 3;
        grid-row: 5;
    }

    .press {
        margin: 0;
    }

    .press p {
        padding: 1em 1em;
        margin: 0;
        border: none;
    }

    .press h1 {
        margin: 2em 1em;
        margin-bottom: 1em;
    }

    .footer {
        width: 100%;
        height: auto;
    }

    .row1 p {
        font-size: 1rem;
    }

    .row1 {
        gap: 1rem;
    }

    .row2 {
        gap: 3em;
        margin-left: 10%;
    }

    .logo {
        font-size: 0.1rem;
    }

    .primary {
        padding: 6px 25px;
    }

    .secondary {
        padding: 6px 25px;
    }

    .header {
        padding: 0 0.5em;
        width: 100%;
    }

    .button-container {
        margin-right: 2em;
        gap: 5px;
    }

    .Logo-title img {
        width: 40px;
        height: auto;
        margin-right: 5px;
    }

    .cards {
        gap: 0.8rem;
    }

    .icon {
        width: 2.5rem;
    }

    .card {
        height: 7rem;
    }

    .card p {
        font-size: smaller;
    }

    .search-section {
        text-align: center;
        padding: 0;
        padding-top: 8em;
    }

    .search-bar {
        margin: 2em 2em;
    }

    .Topics-btn {
        margin: 0;
        width: 100%;
    }

    .Topic {
        text-align: center;
        margin: 0;
        padding: 0;
        margin-top: 50px;
    }

    .Topic h2 {
        margin: 0;
    }

    .Topic img {
        width: 70px;
        height: 70px;
    }

    .courses {
        justify-content: center;
        text-align: center;
    }

    .course h2 {
        margin: 0 2em;
        font-size: 20px;
    }

    .footer {
        padding-bottom: 7em;
    }

    .footer p {
        margin-left: 20px;
        font-size: 20px;
    }

    .link {
        font-size: 20px;
    }
}