.primary {

    font-family: 'Yekan';
    border-radius: 7px;
    background-color: #3646D3;
    padding: 10px 45px;
    border: none;
    color: white;
}

.secondary {

    font-family: 'Yekan';
    color: white;
    border: none;
    border-radius: 7px;
    background-color: #222020;
    padding: 10px 45px;
}

.solid {
    margin: 5px 10px;
    padding: 1px 20px;
    font-family: yekan;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(128, 128, 128);
    background-color: white;
    border: solid 3px rgb(128, 128, 128);
    border-radius: 40px;
}

.secondary:hover{
    background-color: #474747;
}

.solid:focus {
    color: rgb(0, 0, 0);
    border: solid 3px rgb(0, 0, 0);
}

.solid:hover {
    cursor: pointer;
}

.primary:hover {
    cursor: pointer;
    background-color: #3a45a1;
}

.secondary:hover {
    cursor: pointer;
}

@media (max-width: 820px) {
    .primary {
        padding: 6px 25px;
    }

    .secondary {
        padding: 6px 25px;
    }

    .solid {
        padding: 6px 25px;
    }
}