.introduction{
    display: flex;
    padding: 0 10%;
    justify-content: space-between;
    padding-top: 5rem;
}

.explain{
    margin-top: 10rem;
    width: 40%;
    text-align: right;
}

.introduction img{
    width: 40%;
}


.prog{
    width: 4rem;
    height: .5rem;
    background-color: gray;
    border-radius: .5rem;
}

.prog-active{
    width: 4rem;
    height: .5rem;
    background-color: #158E71;
    border-radius: .5rem;
}

@media (max-width: 820px) {
    .introduction{
        flex-direction: column;
        margin-bottom: 5rem;
    }

    .introduction img{
        width: 100%;
    }

    .explain{
        width: 100%;
    }
}